<div class="row">
	<div class="col-sm-3".col-sm-3><h1 class="mt-4">Dashboard</h1></div>
	<div class="col-sm-3".col-sm-3></div>
	<div class="col-sm-3".col-sm-3></div>
	<div class="col-sm-3".col-sm-3>
		<!-- Nav Item - User Information -->
		<div class="nav-item dropdown no-arrow show">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">
					<%= name.substring(0,1).toLocaleUpperCase() + name.substring(1); %>
				</span>
				<img class="img-profile rounded-circle" src="https://source.unsplash.com/WLUHO9A_xik/60x60">
			</a>
			<!-- Dropdown - User Information -->
			<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in show" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="#">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					Profile
				</a>
				<a class="dropdown-item" href="#">
					<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
					Settings
				</a>
				<a class="dropdown-item" href="#">
					<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
					Activity Log
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="/users/logout">
					<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
					Logout
				</a>
			</div>
		</div>
	</div>
</div>

<p><% include ./partials/messages %><p>

<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Projects
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<form class="px-4 py-3" action="/projects/register" method="POST">
			<div class="form-group">
				<label for="projectname">Project</label>
				<input
						type="projectname"
						id="projectname"
						name="projectname"
						class="form-control"
						placeholder="Enter project"
						value="<%= typeof projectname != 'undefined' ? projectname : '' %>"
				/>
			</div>
			<button type="submit" class="btn btn-primary btn-block">
				Register
			</button>
		</form>
		<div class="dropdown-divider"></div>
		<% projects.forEach(function (projects) { %>
		<a href="/project/<%= projects.projectname %>" class="dropdown-item">
			<%= projects.projectname %>
		</a>
		<% }) %>
	</div>
</div>