<head>
    <link href="/css/custom.css" type="text/css" rel="stylesheet">
</head>
<!-- Bit of a hack here -->
</div>
<div class="container" style="width:auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    max-width: 2000px">
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Test Software</h3>
            </div>

            <ul class="list-unstyled components">
                <p><%= project.projectname %></p>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">New Test Case</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <form class="px-4 py-3" action="/projects/<%= project.projectname %>/addtestcase" method="POST">
                                <div class="form-group">
                                    <label for="testcasename">Test Case Details</label>
                                    <input
                                            type="testcasename"
                                            id="testcasename"
                                            name="testcasename"
                                            class="form-control"
                                            placeholder="Enter Test Case"
                                            value="<%= typeof testcasename != 'undefined' ? testcasename : '' %>"
                                    />
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">
                                    Add Test Case
                                </button>
                            </form>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div class="row">
                <div class="col-sm-3" .col-sm-3></div>
                <div class="col-sm-3" .col-sm-3></div>
                <div class="col-sm-3" .col-sm-3></div>
                <div class="col-sm-3" .col-sm-3>
                    <!-- Nav Item - User Information -->
                    <div class="nav-item dropdown no-arrow show">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">
					<%= name.substring(0, 1).toLocaleUpperCase() + name.substring(1); %>
				</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/WLUHO9A_xik/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in show"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/users/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <p>
                <% include ./partials/messages %>
            <p>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Projects
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form class="px-4 py-3" action="/projects/register" method="POST">
                        <div class="form-group">
                            <label for="projectname">Project</label>
                            <input
                                    type="projectname"
                                    id="projectname"
                                    name="projectname"
                                    class="form-control"
                                    placeholder="Enter project"
                                    value="<%= typeof projectname != 'undefined' ? projectname : '' %>"
                            />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Register
                        </button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <% projects.forEach(function (projects) { %>
                        <a href="/project/<%= projects.projectname %>" class="dropdown-item">
                            <%= projects.projectname %>
                        </a>
                    <% }) %>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card text-white bg-primary mb-4">
                            <div class="card-header">Method</div>
                            <div class="card-body">
                                <a class="card-text" style="color: white;" href="#">Navigate to this screen on the
                                    UI</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card text-white bg-primary mb-4">
                            <div class="card-header">Expected</div>
                            <div class="card-body">
                                <a class="card-text" style="color: white;" href="#">The tester is able to navigate to
                                    the screen on the UI</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card text-white bg-primary mb-4">
                            <div class="card-header">Actual Results</div>
                            <div class="card-body">
                                <a class="card-text" style="color: white;" href="#">The tester is able to navigate to
                                    the screen on the UI? YES or NO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Method</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Expected Results</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Actual Results</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>